html, body {
	height: 100%;
}

body {
	background: #f4f8f9;
}

.clickable {
     cursor: pointer
}


.layout {
	display: flex;
	flex: auto;
	flex-direction: column;

	&.layout-has-sider {
	    flex-direction: row;
	}

	.layout-sider {
	    flex: 0 0 100px;
	    max-width: 100px;
	    min-width: 100px;
	    width: 100px;
	    background-color: #fafbfc;


	    .leftmenu-block {
	    	padding-top: 10px;
	    }

	    .logo {
	    	height: 50px;
	    	background-image: url("./images/logo.svg");
	    	background-position: center;
	    	background-repeat: no-repeat;
	    	background-size: contain;
	    }

	    .menu {
	    	padding-top: 50px;
	    	ul {
	    		list-style: none;
	    		padding: 0;

	    		li {
	    			padding: 10px 0;
	    			text-align: center;

	    			a {
	    				font-size: 34px;
	    				color: #4da1ff;

	    				i {
	    					-webkit-text-stroke: 0.4px #4da1ff;
	    				}
	    			}
	    		}
	    	}
	    }
	}

	.layout-header {
		width: 100%;
		height: 70px;
		padding: 0 25px;
		background-color: #fafbfc;
	    
	    &_inner {
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    height: 100%;
	    }
		.header-right {
			align-self: flex-end;
		}
	}

	.layout-content {
		margin: 24px 16px;
	    padding: 24px;
	    background: rgb(255, 255, 255);
	    min-height: 280px;
	}


}

.page-login {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 700px;
}

.login-form {
  max-width: 300px;
  min-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}